exportPattern("^[[:alpha:]]+")
export(calculate_ETP_daily_MECC)
export(calculate_SPEI_MECC)
export(get_1d_constraints)
export(get_comparison_tr)
export(get_copula_distribution)
export(get_copula_multipliers)
export(get_data_station_MECC)
export(get_distribution_comparison)
export(get_drought_series)
export(get_marginal_distribution)
export(get_marginal_multipliers)
export(get_matlab_files_MECC)
export(get_return_periods)
export(marginal_interval)
export(plot_tr_comparison)
export(plot_tr_distribution_comparison)
export(run_matlab_MECC)
importFrom(magrittr,"%>%")
importFrom(magrittr,"%<>%")
importFrom(pracma, 'fminsearch')
importFrom(pracma, 'fminbnd')
importFrom(pracma, 'integral')
importFrom(pracma, 'integral2')
import(tidyr)
import(dplyr)
import(ggplot2)
import(ggpubr)
import(metR)
import(rdwd)
import(SPEI)
import(tibble)
import(tibbletime)
import(lubridate)
import(ggforce)
import(Evapotranspiration)
import(zoo)


